.DS_Store
sources/*
!sources/README.md
logs/*
!logs/README.md
config/local/*
!config/local/README.md

# ignore wiki blender landing page
htdocs/WikiBlender

htdocs/mediawiki
htdocs/wikis/*

simplesamlphp/