<?php
/**
 * SAML 2.0 remote IdP metadata for SimpleSAMLphp.
 *
 * Remember to remove the IdPs you don't use from this file.
 *
 * See: https://simplesamlphp.org/docs/stable/simplesamlphp-reference-idp-remote
 */

$metadata['{{ saml_public.idp_entity_id }}'] = array(
    'SingleSignOnService'  => '{{ saml_public.single_sign_on_service }}',
    'SingleLogoutService'  => '{{ saml_public.single_logout_service }}',
    'certFingerprint'      => array(
    	{% for fp in saml_public.cert_fingerprint -%}
    	'{{ fp }}',
    	{%- endfor %}
    ),
);
