---

wiki_app_fqdn: "{{ fqdn }}"

m_private_networking_zone: "{{ private_net_zone }}"

# Password for mysql root user
mysql_root_password: "{{ mysql_root_pass }}"

wiki_app_db_user:
  name: "wiki_app_user"
  password: "{{ wiki_app_db_pass }}"
  priv: "*.*:ALL"

# List of users. Currently only wiki_app_user is required. This should perhaps
# be handled in such a way that it's not possible to remove wiki_app_user, and
# then this mysql_users list would just be for additional users (e.g. humans
# who want to query the database). Alternatively, this would be easy to create
# separate users for each wiki (which I've heard can have performance benefits)
mysql_users: []
  # - name: "james"
  #   host: "%"
  #   password: "mypassword"
  #   priv: "*.*:ALL"

# User on database master that slaves use perform replication
mysql_replication_user:
  name: "db_slave_user"
  password: "{{ db_slave_pass }}"


# May be required for certain cryptographic functions
wg_secret_key: {{ wg_secret_key }}



#
# Logging config
#

# Server performance Slack notifications
# slack_channel_server_performance: "Channel name"
# slack_webhook_token_server_performance: "token/not/URL"

# Disk usage config
# disk_space_usage_mount_name: "run `df` and pick mount from first column"
# disk_space_usage_mount_short_name: "Short name to describe mount, like '/opt'"
# slack_channel_disk_usage: "Channel name"
# slack_webhook_token_disk_usage: "token/not/URL"
