[gluster3{{ rhel_gluster_minor_version }}]
name=Gluster 3.{{ rhel_gluster_minor_version }}
baseurl=http://mirror.centos.org/centos/7/storage/x86_64/gluster-3.{{ rhel_gluster_minor_version }}/
gpgcheck=0
enabled=1

