---

# Users absolutely should override this. FIXME: should we not make this default?
m_private_networking_zone: public

# Ansible
# Taken from config.sh, probably doesn't make sense here and could break things
# ansible_user: meza-ansible

# Password for mysql root user
mysql_root_password: 4321

wiki_app_db_user:
  name: wiki_app_user
  password: wiki_app_user_password
  priv: "*.*:ALL"

# List of users. Currently only wiki_app_user is required. This should perhaps
# be handled in such a way that it's not possible to remove wiki_app_user, and
# then this mysql_users list would just be for additional users (e.g. humans
# who want to query the database). Alternatively, this would be easy to create
# separate users for each wiki (which I've heard can have performance benefits)
mysql_users: []
  # - name: "james"
  #   host: "%"
  #   password: "mypassword"
  #   priv: "*.*:ALL"

# User on database master that slaves use perform replication
mysql_replication_user:
  name: "db_slave_user"
  password: "db_slave_user_password"

# Why is email here and not in public config? Because whether or not email is
# turned on is likely to be a production vs staging decision, and secret config
# will be different for each. Public config, however, may operate as a workflow
# where changes are applied to dev/test/staging/integration environments before
# being pushed to production. It may be simpler to keep email out of that.
enable_wiki_emails: true
