# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.6/en/server-configuration-defaults.html
#

[client]

port                           = 3306
socket                         = /var/lib/mysql/mysql.sock


[mysqld]

# Connection and Thread variables

port                           = 3306
socket                         = /var/lib/mysql/mysql.sock
datadir                        = /opt/meza/data/mariadb
bind-address                   = bind_ip_address


# Recommended in standard MySQL setup
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid


#
# include all files from the config directory
#
!includedir /etc/my.cnf.d
