---
# This file may be generated initially by Ansible and put on the CONTROL
# machine. After that the file should be managed in git (or equivalent) as a
# meza-instance's delta-configuration.
#
# {{ template_run_date }}


# Use this file to load more extensions for all wikis in this format:

# - name: MyExtension
#   repo: https://gerrit.wikimedia.org/r/p/mediawiki/extensions/MyExtension.git
#   version: REL1_27
