[defaults]
callback_whitelist = profile_tasks

retry_files_save_path = /tmp

roles_path = /opt/meza/src/roles

ansible_managed = Ansible managed from template {file} on controller {host} by user {uid}

[ssh_connection]
ssh_args=-o ForwardAgent=yes
