<?php

/**
 * This file is this wiki's custom settings location. The majority of the
 * settings for this wiki are handled within the main LocalSettings.php file
 * which is common to all wikis. It is located at:
 *
 *     /opt/meza/htdocs/mediawiki/LocalSettings.php
 *
 * This file is included at the end of that file, and thus can add to or
 * override any settings therein.
 **/

// Add configuration here specific to {{ wiki_name }}
