#!/bin/sh
#
# {{ ansible_managed }}

### DIRECTORY STRUCTURE ###

# meza install location
m_install="{{ m_install }}"
m_meza="{{ m_meza }}"

# config dir
m_config_core="{{ m_config_core }}"

# scripts dir
m_scripts="{{ m_scripts }}"

# test dir
m_test="{{ m_test }}"

# data dir
m_meza_data="{{ m_meza_data }}"
m_logs="{{ m_logs }}"

m_backups="{{ m_backups }}"
allow_backup_downloads='{{ allow_backup_downloads }}'

# Things deployed by ansible
m_deploy='{{ m_deploy }}'

# webserver variables
m_htdocs="{{ m_htdocs }}"
m_mediawiki="{{ m_mediawiki }}"

# app locations
m_apache="{{ m_apache }}"

### DATABASE DATA AND CREDENTIALS ###
db_master="{{ groups['db-master'][0] }}"
wiki_app_db_user_name='{{ wiki_app_db_user.name }}'
wiki_app_db_user_pass='{{ wiki_app_db_user.password }}'

# Replication
m_db_replication_dump_file="{{ m_db_replication_dump_file }}"
m_db_replication_log_file="{{ m_db_replication_log_file }}"
m_db_replication_log_pos="{{ m_db_replication_log_pos }}"

### LANGUAGE ###
m_language="{{ m_language }}"
m_i18n="{{ m_i18n }}"

# Path or domain style (e.g. example.com/wiki_id or wiki_id.example.com)
m_wiki_url_style="{{ m_wiki_url_style }}"

#
# DEPLOY VARS included in the following order, with each superceding the previous
#   1. public
#   2. env-specific
#   3. secret
#   4. FIXME: deprecated deploy_vars, use secret_deploy_vars instead
#

{% if public_deploy_vars is defined and public_deploy_vars is iterable %}
#
# CUSTOM __public__ DEPLOY VARIABLES
# These should only come from public.yml
#
{% for key, value in public_deploy_vars.iteritems() %}
{% if value is string %}
{{ key }}="{{ value }}"
{% elif value is iterable %}
# Skipping iterable deploy var {{ key }}. FIXME #856.
{% else %}
{{ key }}="{{ value }}"
{% endif %}
{% endfor %}
{% endif %}


{% if env_deploy_vars is defined and env_deploy_vars is iterable %}
#
# CUSTOM __{{ env }} environment__ DEPLOY VARIABLES
# These should only come from env/{{ env }}.yml
#
{% for key, value in env_deploy_vars.iteritems() %}
{% if value is string %}
{{ key }}="{{ value }}"
{% elif value is iterable %}
# Skipping iterable deploy var {{ key }}. FIXME #856.
{% else %}
{{ key }}="{{ value }}"
{% endif %}
{% endfor %}
{% endif %}


{% if secret_deploy_vars is defined and secret_deploy_vars is iterable %}
#
# CUSTOM __secret__ DEPLOY VARIABLES
# These should only come from secret.yml
#
{% for key, value in secret_deploy_vars.iteritems() %}
{% if value is string %}
{{ key }}="{{ value }}"
{% elif value is iterable %}
# Skipping iterable deploy var {{ key }}. FIXME #856.
{% else %}
{{ key }}="{{ value }}"
{% endif %}
{% endfor %}
{% endif %}


{% if deploy_vars is defined and deploy_vars is iterable %}
#
# __DEPRECATED__ CUSTOM DEPLOY VARIABLES
#
# FIXME: remove deploy_vars in lieu of secret_deploy_vars when production wikis
#        are updated.
#
{% for key, value in deploy_vars.iteritems() %}
{% if value is string %}
{{ key }}="{{ value }}"
{% elif value is iterable %}
# Skipping iterable deploy var {{ key }}. FIXME #856.
{% else %}
{{ key }}="{{ value }}"
{% endif %}
{% endfor %}
{% endif %}



#
# SERVER PERFORMANCE
#
{% if slack_channel_server_performance is defined %}
# Slack channel to send server performance info. If undefined, will use webhook default
slack_channel_server_performance="{{ slack_channel_server_performance }}"
{% endif %}

{% if slack_webhook_token_server_performance is defined %}
# Slack incoming webhook token for sending server performance info
slack_webhook_token_server_performance="{{ slack_webhook_token_server_performance }}"
{% endif %}

{% if slack_username_server_performance is defined %}
# Slack username to display for webhook
slack_username_server_performance="{{ slack_username_server_performance }}"
{% endif %}


#
# DISK USAGE
#
{% if disk_space_usage_mount_name is defined %}
disk_space_usage_mount_name="{{ disk_space_usage_mount_name }}"
{% endif %}

# A short name used in description when sending Slack message
disk_space_usage_mount_short_name="{{ disk_space_usage_mount_short_name | default('Disk') }}"

{% if slack_channel_disk_usage is defined %}
# Slack channel to send disk usage info. If undefined, will use webhook default
slack_channel_disk_usage="{{ slack_channel_disk_usage }}"
{% endif %}

{% if slack_webhook_token_disk_usage is defined %}
# Slack incoming webhook token for sending disk usage info
slack_webhook_token_disk_usage="{{ slack_webhook_token_disk_usage }}"
{% endif %}

{% if slack_username_disk_usage is defined %}
# Slack username to display for webhook
slack_username_disk_usage="{{ slack_username_disk_usage }}"
{% endif %}
