<?php
// {{ ansible_managed }}

$wiki_app_fqdn = '{{ wiki_app_fqdn }}';

### DIRECTORY STRUCTURE ###

# meza install location
$m_install = "{{ m_install }}";
$m_meza = "{{ m_meza }}";

# config dir
$m_config_core = "{{ m_config_core }}";

# scripts dir
$m_scripts = "{{ m_scripts }}";

# test dir
$m_test = "{{ m_test }}";

# data dir
$m_meza_data = "{{ m_meza_data }}";

# webserver variables
$m_htdocs = "{{ m_htdocs }}";
$m_mediawiki = "{{ m_mediawiki }}";

# Installation configuration
$db_master = "{{ groups['db-master'][0] }}";
$wiki_app_db_user_name = '{{ wiki_app_db_user.name }}';
$wiki_app_db_user_pass = '{{ wiki_app_db_user.password }}';


$m_language = "{{ m_language }}";

# FIXME: this needs to be put in proper configuration location....
#  m_password_sending_email_addr:
# meza_auth_type: ???

#
# Logging
#
$m_logging_db_name = 'meza_server_log';
$m_logging_db_host = 'localhost';
