#!/bin/sh
#
# {{ ansible_managed }}

### DIRECTORY STRUCTURE ###

# meza install location
m_install="{{ m_install }}"
m_meza="{{ m_meza }}"

# config dir
m_config_core="{{ m_config_core }}"

# scripts dir
m_scripts="{{ m_scripts }}"

# test dir
m_test="{{ m_test }}"

# data dir
m_meza_data="{{ m_meza_data }}"
m_logs="{{ m_logs }}"

# webserver variables
m_htdocs="{{ m_htdocs }}"
m_mediawiki="{{ m_mediawiki }}"

# app locations
m_apache="{{ m_apache }}"

### DATABASE DATA AND CREDENTIALS ###
db_master="{{ groups['db-master'][0] }}"
wiki_app_db_user_name='{{ wiki_app_db_user.name }}'
wiki_app_db_user_pass='{{ wiki_app_db_user.password }}'

# Replication
m_db_replication_dump_file="{{ m_db_replication_dump_file }}"
m_db_replication_log_file="{{ m_db_replication_log_file }}"
m_db_replication_log_pos="{{ m_db_replication_log_pos }}"

### LANGUAGE ###
m_language="{{ m_language }}"
m_i18n="{{ m_i18n }}"
