# mod_rewrite
<IfModule mod_rewrite.c>

    # Enable mod_rewrite engine
    RewriteEngine on

    RewriteBase /

    # This is needed for Links inside MS Office documents to resolve properly
    # when using single sign on.
    # Ref: https://groups.google.com/forum/#!topic/simplesamlphp/LcykPSQj_IQ
    RewriteCond %{HTTP_USER_AGENT} ms-office [NC]
    RewriteRule ^ - [L,R=200]

    # Allow access to root index.php
    RewriteRule ^index.php(.*) - [L]

    # Allow access to /wikis directory (where all wiki content and
    # and settings are located)
    RewriteRule ^wikis(?:/|$)(.*)$ - [L]

    # Allow access to WikiBlender landing page and support files
    RewriteRule ^WikiBlender(?:/|$)(.*)$ - [L]

    # Allow access to ServerPerformance plot page and support files
    RewriteRule ^ServerPerformance(?:/|$)(.*)$ - [L]

    {% if allow_backup_downloads %}
    # Allow access to BackupDownload function
    RewriteRule ^BackupDownload(?:/|$)(.*)$ - [L]
    {% endif %}


	RewriteRule ^/?wiki/{{ wiki_id }}(/.*)?$ %{DOCUMENT_ROOT}/{{ wiki_id }}/index.php [L]
	RewriteRule ^/?$ %{DOCUMENT_ROOT}/{{ wiki_id }}/index.php [L]

	RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
	RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-d
	RewriteRule ^/?{{ wiki_id }}/images/thumb/[0-9a-f]/[0-9a-f][0-9a-f]/([^/]+)/([0-9]+)px-.*$ %{DOCUMENT_ROOT}/{{ wiki_id }}/thumb.php?f=$1&width=$2 [L,QSA,B]

	RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
	RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-d
	RewriteRule ^/?{{ wiki_id }}/images/thumb/archive/[0-9a-f]/[0-9a-f][0-9a-f]/([^/]+)/([0-9]+)px-.*$ %{DOCUMENT_ROOT}/{{ wiki_id }}/thumb.php?f=$1&width=$2&archived=1 [L,QSA,B]


</IfModule>
