# mod_rewrite
<IfModule mod_rewrite.c>

    # Enable mod_rewrite engine
    RewriteEngine on

    RewriteBase /

    # This is needed for Links inside MS Office documents to resolve properly
    # when using single sign on.
    # Ref: https://groups.google.com/forum/#!topic/simplesamlphp/LcykPSQj_IQ
    RewriteCond %{HTTP_USER_AGENT} ms-office [NC]
    RewriteRule ^ - [L,R=200]

    # Allow access to root index.php
    RewriteRule ^index.php(.*) - [L]

    # Allow access to /wikis directory (where all wiki content and
    # and settings are located)
    RewriteRule ^wikis(?:/|$)(.*)$ - [L]

    # Allow access to WikiBlender landing page and support files
    RewriteRule ^WikiBlender(?:/|$)(.*)$ - [L]

    # Allow access to ServerPerformance plot page and support files
    RewriteRule ^ServerPerformance(?:/|$)(.*)$ - [L]

    {% if allow_backup_downloads %}
    # Allow access to BackupDownload function
    RewriteRule ^BackupDownload(?:/|$)(.*)$ - [L]
    {% endif %}

{% if m_wiki_url_stlye = 'path' %}
	RewriteCond "%{REQUEST_FILENAME}" !-f
    RewriteCond "%{REQUEST_FILENAME}" !-d
    RewriteRule ^mediawiki/([a-zA-Z-]+)/(.*) mediawiki/$2?MEZAWIKI=$1 [PT,QSA,E=WIKI:$1]

    RewriteCond "%{REQUEST_FILENAME}" !-f
    RewriteCond "%{REQUEST_FILENAME}" !-d
    RewriteRule ^([a-zA-Z-]+)/(?!mediawiki/)(.*) mediawiki/index.php/$2?MEZAWIKI=$1 [PT,QSA,E=WIKI:$1]
{% else %}
    # from https://www.mediawiki.org/wiki/Manual:Short_URL/Apache
    RewriteRule ^/?wiki/(.*)?$ %{DOCUMENT_ROOT}/w/index.php [L,E=WIKI:$1]
{% endif %}


    # With a wiki farm, all other wiki domains besides the default should
    # redirect to their respective wikis, not the splash page
    # Primary wiki redirector for any bare sub-domain:
    RewriteRule ^$ /w/index.php


</IfModule>
