<?php

// if there's a SAML config file, we need to authenticate with SAML, like, now.
if ( is_file( '{{ m_install }}/.deploy-meza/SAMLConfig.php' ) ) {
	require_once __DIR__ . '/NonMediaWikiSimpleSamlAuth.php';
}

require_once "WikiBlender/index.php";
