<?php

// if there's a SAML config file, we need to authenticate with SAML, like, now.
{% if saml_public is defined %}
require_once __DIR__ . '/NonMediaWikiSimpleSamlAuth.php';
{% endif %}

require_once "WikiBlender/index.php";
