<html>
<head><title>Dummy file for Office docs</title></head>
<body>
<p>This is a dummy file to make it so office documents don't break SAML authentication. Reference <a href="https://github.com/enterprisemediawiki/meza/pull/739">meza issue #739</a></p>
</body>
</html>
