{
	"require": {

		{% for ext in meza_local_extensions['list'] if ext.composer is defined %}
		"{{ ext.composer }}": "{{ ext.version }}",
		{# Note: no loop.last check: more extensions listed below #}
		{%- endfor -%}

		{%- for ext in meza_local_skins['list'] if ext.composer is defined %}
		"{{ ext.composer }}": "{{ ext.version }}",
		{# Note: no loop.last check: more extensions listed below #}
		{%- endfor -%}

		{% for ext in meza_core_skins['list'] if ext.composer is defined %}
		"{{ ext.composer }}": "{{ ext.version }}",
		{# Note: no loop.last check: more extensions listed below #}
		{%- endfor -%}

		{%- for ext in meza_core_extensions['list'] if ext.composer is defined %}
		"{{ ext.composer }}": "{{ ext.version }}",
		{# Note: pear/net_smtp is part of MW core in 1.32+. Need to add conditional comma here when pear/net_smtp is removed below. %}
		{%- endfor %}

		"pear/net_smtp": "1.8.0"

	},
	"extra": {
		"merge-plugin": {
			"include": [

				{% for ext in meza_local_extensions['list'] if ext.composer_merge is defined and ext.composer_merge == True %}

				"extensions/{{ ext.name }}/composer.json",
				{# Note: no loop.last check: more extensions listed below #}

				{%- endfor -%}

				{%- for ext in meza_core_extensions['list'] if ext.composer_merge is defined and ext.composer_merge == True %}

				"extensions/{{ ext.name }}/composer.json"
				{%- if not loop.last -%},{%- endif %}

				{%- endfor %}

			]
		}
	}
}
