{
	"require": {

		{% for ext in meza_local_extensions['list'] if ext.composer is defined %}
		"{{ ext.composer }}": "{{ ext.version }}",
		{# Note: no loop.last check: more extensions listed below #}
		{%- endfor -%}

		{%- for ext in meza_core_extensions['list'] if ext.composer is defined %}
		"{{ ext.composer }}": "{{ ext.version }}",
		{# Note: no loop.last check: more extensions listed below #}
		{%- endfor %}

		{% for ext in meza_core_skins['list'] if ext.composer is defined %}
		"{{ ext.composer }}": "{{ ext.version }}",
		{# Note: no loop.last check: more extensions listed below #}
		{%- endfor -%}

		{%- for ext in meza_local_skins['list'] if ext.composer is defined %}
		"{{ ext.composer }}": "{{ ext.version }}"
		{%- if not loop.last -%},{%- endif %}
		{%- endfor %}



	},
	"extra": {
		"merge-plugin": {
			"include": [

				{% for ext in meza_local_extensions['list'] if ext.composer_merge is defined and ext.composer_merge == True %}
				"extensions/{{ ext.name }}/composer.json",
				{# Note: no loop.last check: more extensions listed below #}

				{%- endfor -%}

				{%- for ext in meza_core_extensions['list'] if ext.composer_merge is defined and ext.composer_merge == True %}
				"extensions/{{ ext.name }}/composer.json"
				{%- if not loop.last -%},{%- endif %}

				{%- endfor %}
{#
				{% for ext in meza_local_skins['list'] if ext.composer_merge is defined and ext.composer_merge == True %}
				"skins/{{ ext.name }}/composer.json",


				{%- endfor -%}

				{%- for ext in meza_core_skins['list'] if ext.composer_merge is defined and ext.composer_merge == True %}
				"skins/{{ ext.name }}/composer.json"
				{%- if not loop.last -%},{%- endif %}

				{%- endfor %}
#}
			]
		}
	}
}
