<?php
// {{ ansible_managed }}
// Generated: {{ template_run_date }}

{% for ext in meza_core_extensions['list'] if ext.composer is not defined %}

{% if ext.legacy_load is defined and ext.legacy_load -%}
	require_once "$IP/extensions/{{ ext.name }}/{{ ext.name }}.php";
{%- else -%}
	wfLoadExtension( "{{ ext.name }}" );
{%- endif -%}

{%- if ext.config is defined %}

{{ ext.config }}
{%- endif -%}

{%- endfor %}
