<?php
// {{ ansible_managed }}
// Generated: {{ template_run_date }}

{%+ for ext in meza_local_extensions['list'] if not ext.composer +%}

// Extension:{{ ext.name }}
{%+ if ext.wikis is defined -%}
	if ( in_array( $wikiId, array( {%+ for wiki in ext.wikis -%}'{{ wiki}}', {%- endfor -%} ) ) ) {
{%- endif -%}


	{%- if ext.legacy_load is defined and ext.legacy_load -%}
		require_once "$IP/extensions/{{ ext.name }}/{{ ext.name }}.php";
	{%- else -%}
		wfLoadExtension( "{{ ext.name }}" );
	{%- endif -%}

	{%- if ext.config is defined +%}
{{ ext.config }}
	{%- endif -%}


{%- if ext.wikis is defined +%}
}
{%- endif -%}

{%- endfor +%}
