##################### Elasticsearch Configuration #####################
# For information on supported formats and syntax for the config file, see
# <http://elasticsearch.org/guide/en/elasticsearch/reference/current/setup-configuration.html>


################################### Cluster ###################################

# Cluster name identifies your cluster for auto-discovery. If you're running
# multiple clusters on the same network, make sure you're using unique names.
#
cluster.name: "{{ elasticsearch_cluster_name }}"


#################################### Node #####################################

# Node names are generated dynamically on startup, so you're relieved
# from configuring them manually. You can tie this node to a specific name:
#
node.name: "{{ elasticsearch_node_name }}"



#################################### Paths ####################################

# Path to directory containing configuration (this file and logging.yml):
# deprecated
# path.conf: /etc/elasticsearch

# Path to directory where to store index data allocated for this node.
#
path.data: {{ m_meza_data }}/elasticsearch/data


# Path to log files:
#
path.logs: {{ m_meza_data }}/elasticsearch/log

# Workaround for openjdk policy update which breaks elasticsearch's ability
# to read /etc/pki/ca-trust/extracted/java/cacerts.
#
# Fixes xpack SSL java access denied at ES startup.
#
# Probably not the best way to do this. Suggestions welcome
xpack.ssl.truststore.path: /etc/elasticsearch/cacerts-java-extracted
xpack.ssl.truststore.password: changeit
reindex.ssl.truststore.path: /etc/elasticsearch/cacerts-java-extracted
reindex.ssl.truststore.password: changeit
