[elasticsearch-{{ elasticsearch_major_version }}]
name=Elasticsearch repository for {{ elasticsearch_major_version }} packages
baseurl={% if elasticsearch_major_version == "5.x" %}https://artifacts.elastic.co/packages/{{ elasticsearch_major_version }}/yum{% else %}http://packages.elastic.co/elasticsearch/{{ elasticsearch_major_version }}/centos{% endif %}

gpgcheck=1
gpgkey={% if elasticsearch_major_version == "5.x" %}https://artifacts.elastic.co/GPG-KEY-elasticsearch{% else %}http://packages.elastic.co/GPG-KEY-elasticsearch{% endif %}

enabled=1
{% if elasticsearch_proxy_host is defined and elasticsearch_proxy_port is defined %}
proxy=http://{{ elasticsearch_proxy_host }}:{{elasticsearch_proxy_port}}
{% endif %}

autorefresh=1
type=rpm-md
