[elasticsearch-2.x]
name=Elasticsearch repository for 2.x packages
baseurl=http://packages.elastic.co/elasticsearch/2.x/centos
gpgcheck=1
gpgkey=http://packages.elastic.co/GPG-KEY-elasticsearch
enabled=1

{% if elasticsearch_proxy_host is defined and elasticsearch_proxy_port is defined %}
proxy=http://{{ elasticsearch_proxy_host }}:{{elasticsearch_proxy_port}}
{% endif %}

autorefresh=1
type=rpm-md
