<?xml version="1.0" encoding="utf-8"?>
<!-- {{ ansible_managed }} -->
<service>
<short>HAProxy-Rebaser</short>
<description>HAProxy load-balancer</description>
<port protocol="tcp" port="8083"/>
</service>
