<table class='wiki-block'>
	<tr>
		<td>
			<a href='{{ wiki.path }}'>
				<img src='{{ wiki.logo_path }}' />
				<h3>{{ wiki.name }}</h3>
			</a>
		</td>
	</tr>
	<tr>
		<td class='num-articles' apipath='{{ wiki.api_path }}'>Loading wiki data...</td>
	</tr>
</table>
